.parent{
  display: flex;
  justify-content: center;
  background-color: darkgrey;
}
.child{
  width: 20%;
  border:1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  text-align: center;
  background-color: darkslategray;
  font-size: 150%;
  height:20%;

}
.child2{
  width: 70%;
  border:1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  background-color: darkslategray;
  font-size: 120%;
}
img{
   width:70%;
}
.hr{
  background-color: darkslategrey;
}
.link{
  text-decoration: none;
  display:block;
  background-color: whitesmoke;
  border:1px solid #ddd;
  width:80%;
  border-radius: 30%;
  text-align: center;
  margin:10%;
  
}
.btn{
  background-color:darkslategray;
  border: 1px solid #aaa;
  padding: 1%;
  margin: 1%;
  border-radius: 20px;
  display:block;
  font-size: 120%;
  text-align: center;

}
.skill{
  display:block;
  background-color:whitesmoke;
  border:1px solid #ddd;
  width:18%;
  border-radius: 30%;
  text-align: center;
}
.child>a{
  text-align: center;
  background-color: white;
  color: #aaa;
  text-decoration: none;
}

